body
{
	background-color: #d3e29d;
	background-attachment: attachment;
	font-family: verdana;
}

.topMenu
{
	border: 0;
	background: #8ab446;
	color: #072a16;
	font-weight: bold;
	border-width: 0px 5px 0px 5px;
	font-size: 200%;
}

.courseValues
{
	padding-right: 5px;
	padding-left: 5px;
}

.USDvalue
{
	background: rgba(172,200,100, .90);
	color: #072a16;
	font-weight: bold;
	font-size: 110%;
}

.EUROvalue
{
	background: #acc864;
	color: #072a16;
	font-weight: bold;
	font-size: 15px;
}

.AZBvalue
{
	background: #acc864;
	color: #072a16;
	font-weight: bold;
	font-size: 15px;
}

.KZHvalue
{
	background: #acc864;
	color: #072a16;
	font-weight: bold;
	font-size: 15px;
}